<div class="ngdialog-message">
    <h3 style="text-align: center">Enter the code</h3>
    <h4 style="text-align: center">We sent you a 6 digit code</h4>
    <div class="code-enter" style="text-align: center">
        <input type="number">
        <input type="number">
        <input type="number">
        <input type="number">
        <input type="number">
        <input type="number">
    </div>
    <button class="button button-block button-energized fixed-down" ng-click="finishCode()">
        Finish
    </button>
</div>