<ion-view view-title="Congratulations!" hide-back-button="true">
  <ion-content>
    <h4 style="text-align: center;">Lucas Kujawski is going to come soon</h4>
    <p style="text-align: center;">Prepare your clothes and be ready</p>
    <br>
    <div style="text-align: center;">
      <img src="img/done.gif" style="width: 33%">
    </div>
    <div class="row">
      <div class="col">
        <h4>Your order code is:</h4>
        <div class="card">
          <div class="item item-text-wrap">
            L943KA
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-energized" ng-click="rate()">
          Rate Lucas
        </button>
        <button class="button button-block button-positive" ng-click="newOrder()">
          New order
        </button>
        <button class="button button-block button-calm">
          Share with friends
        </button>
        <button class="button button-block button-assertive-100" ng-click="cancelation()">
          Cancel?
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
