<ion-modal-view>
  <ion-header-bar>
    <h1 class="title title-center">Choose a washer option from below:</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <a class="item item-thumbnail-left" href="#">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAUvAAAAJGQzMWQzMTYyLTBjZTQtNDU4MS1iNmY5LWI5NTI1MjlkMTUzNQ.jpg">
        <h2>Lucas Kujawski</h2>
        <p class="pull-right" style="font-size: x-large">
          <i class="icon ion-social-usd" style="color: green"></i>50
        </p>
        <p class="pull-left">
          <i class="icon ion-clock"></i> 3~8 min
        </p>
        <br>
        <p class="color-yellow abs">
          <i class="icon ion-android-star"></i>
          <i class="icon ion-android-star"></i>
          <i class="icon ion-android-star"></i>
          <i class="icon ion-android-star"></i>
          <i class="icon ion-android-star-half"></i>
        </p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAMNAAAAJDVhZjY3ZTZkLTEzMGUtNGZhYy1iMjdiLTAxZmY4MWQ4ZTJjMw.jpg">
        <h2>Nicolas Vekselman</h2>
        <p class="pull-right" style="font-size: x-large">
          <i class="icon ion-social-usd" style="color: green"></i>50
        </p>
        <p class="pull-left">
          <i class="icon ion-clock"></i> 10~12 min
        </p>
        <br>
        <p class=" color-yellow abs">
          <i class="icon ion-android-star"></i>
          <i class="icon ion-android-star"></i>
          <i class="icon ion-android-star"></i>
          <i class="icon ion-android-star"></i>
          <i class="icon ion-android-star-outline"></i>
        </p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAXCAAAAJGNjOGIyOTgwLWE3YzctNGQ0Zi1hYjU0LWI1NmJiNDY2MjZiMQ.jpg">
        <h2>Augusto D'aria</h2>
        <p class="pull-right" style="font-size: x-large">
          <i class="icon ion-social-usd" style="color: green"></i>50
        </p>
        <p class="pull-left">
          <i class="icon ion-clock"></i> 4~8 min
        </p>
        <br>
        <p class="color-yellow abs">
          <i class="icon ion-android-star"></i>
          <i class="icon ion-android-star"></i>
          <i class="icon ion-android-star"></i>
          <i class="icon ion-android-star-half"></i>
          <i class="icon ion-android-star-outline"></i>
        </p>
      </a>
    </div>

    <div class="mid-bar dark-bg z1 pickup-button-div pick-up-washer" ng-style="bottomStyle">
      <div>
        <h3>
          Lucas Kujawski
        </h3>
        <p>
          <i class="icon ion-clock"></i> 20:20
        </p>
      </div>
      <button class="button button-block button-assertive" ng-click="finish()">
        Choose & Finish
      </button>
    </div>
  </ion-content>
</ion-modal-view>
